{% extends 'base.html.twig' %}

{% block title %}New Guitar{% endblock %}

{% block body %}
    <h1>Create new Guitar</h1>

    {{ include('back_office/collection/_form.html.twig') }}

    <a href="{{ path('back_office_collection_browse') }}">back to list</a>
{% endblock %}
