{% extends 'base.html.twig' %}

{% block title %}A Propos - {% endblock %}


{% block body %}
<div class="container">
    <h1 class="text-center collection-title">A Propos</h1>
    <p><a class="link-dark" href="{{ path("home_Page") }}">Accueil</a>
        >
        <a class="link-dark" href="{{ path("home_aboutPage") }}">A propos </a>
        >
    </p>
    <div class="row">
        <div class="col-md-12">
            <p>
                Musicien depuis de nombreuses années, j’ai acheté, revendu, échangé ou récupéré de nombreux instruments. C’est en recensant une énième fois ma collection que l’idée d’une application m’est venue. Il existe de nombreux sites qui pouvaient faire l’affaire, mais aucun n’est vraiment fait pour enregistrer sa collection. Les sites comme Reverb sont fait pour la vente, Audiofanzine c’est plus du magazine et enfin EasyZik ou Zikinf sont pour les échanges.
                Guitar Collection se veut être un site simple d’utilisation et convivial, où chacun pourra recenser et partager librement ses instruments fétiches. Quand on est collectionneur on amasse rapidement divers instruments, sans forcément prendre le temps de noter certaines infos cruciales. Comme l’année de production, la date de son acquisition et différentes infos qui ne sont pas forcément évidentes au coup d'œil. Guitar Collection offre la possibilité d'enregistrer une description poussée et complète de l’instrument.

            </p>
        </div>
    </div>
</div>
{% endblock %}