{% extends 'base.html.twig' %}

{% block title %}Edit Guitar{% endblock %}



{% block body %}
<div class="container overflow-hidden mb-5">
<h1 class="mb-5">Modifier les données de l'utilisateur</h1>
</div>

{% endblock %}