{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

  
  {% block body %}
  <div class="container overflow-hidden mb-5">
  <h1>Utilisateur - READ</h1>
  </div>

  {% endblock %}