{% extends 'base.html.twig' %}

{% block title %}Envoi d'Email de réinitialisation de mot de passe{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center mb-5 mt-5">
        <div class="card mb-0">
            <div class="card-body alert-success">
                <p>
                    Si un compte correspondant à votre adresse e-mail, un e-mail sera envoyé. Contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                    Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                </p>
                <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
                <a href="{{ path('home_Page') }}" class="btn btn-warning">Retour à l'Accueil</a>
            </div>
        </div>
    </div>
{% endblock %}