{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - {% endblock %}

{% block body %}
    <div class="container-login">
        <div class="form-login">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <div class="text-center mb-3">
                <h5 class="h3 mb-3 font-weight-normal">Réinitialisez votre mot de passe</h5>
                <span class="d-block text-muted">Veuillez entrer votre adresse Email</span>
            </div>

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Un lien vous permettant de réinitialiser votre mot de passe vous sera envoyé.
                </small>
            </div>

            <button class="btn-login btn-warning">Envoyer</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
