@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======================================== */

/* NAVBAR */

/* ======================================== */
.header {
  background-color: #020302;
}


nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #f0a500;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-burger  {
  display: none;
  cursor: pointer;
}

.nav-burger  div {
  width: 25px;
  height: 3px;
  background-color: #f0a500;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1.24px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #f0a500;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translate(100%);
      transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links a {
    color: #020302;
  }

  .nav-burger {
    display: block;
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



/* ======================================== */

/* HOMEPAGE */

/* ======================================== */
main {
  background-color: #020302;
  margin-bottom: 1rem;
}
.content {
  height: 100vh;
  width: 100%;
  background-image: url(/Doc/Integration/assets/Image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
  background-position: center;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
  padding: 1rem;
  border-bottom: #f0a500 2px solid;
  margin-bottom: 1rem;

  text-align: end;
  color: #f0a500;
}

.home-title {
  font-weight: 600;
  font-size: 6.5rem;
}

.home-sub-title {
  font-weight: 600;
  font-size: 3.8rem;
  margin-bottom: 3rem;
}

.home-paragraphe {
  font-size: 1.5rem;
  font-weight: 300 !important;
  margin-bottom: 4rem;
}

.home-btn {
  background-color: #f0a500;
  color: #020302;
  font-weight: 900;
  font-size: 3.5rem;
  border-radius: 30px;
}

.home-btn:hover {
  background-color: #f0ec00;
}